*{
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color:white;
    line-height: 1.5;
    list-style-type: none;
    max-width: 900px;
}

a:link,a:visited {
    color: lightblue;
}
a:hover,a:active {
    color: blue;
}
.nav-link {
    width: 49%;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
}
.genre{
    background-color: #333;
    border: 1px solid #555;
    padding: 5px;
}
img {
    border: 1px solid #555;
    padding: 5px;
    max-width: 100%;
    background-color: #333;
    max-height: auto;
}
.limbus {
    /* wana make a gradient but couldnt figure it out
background: radial-gradient(square,rgba(0, 0, 0, 1) 0%, rgba(26, 26, 26, 1) 100%);*/
}