:root {
    --main-bg-color: #1a1a1a;
    --main-text-color: white;
    --link-color: lightblue;
    --link-alt-color: blue;
    --nav-link-border-color: black;
    --sub-bg-color: #333;
    --sub-border-color: #555;
}
*{
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    line-height: 1.5;
    list-style-type: none;
}

a:link,a:visited {
    color: var(--link-color);
}
a:hover,a:active {
    color: var(--link-alt-color);
}
.nav-link {
    width: 49%;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
}
.genre{
    background-color: var(--sub-bg-color);
    border: 1px solid var(--sub-border-color);
    padding: 5px;
}
img {
    border: 1px solid var(--sub-border-color);
    padding: 5px;
    max-width: 100%;
    background-color: var(--sub-bg-color);
    height: auto;
    width: 700px;
}
.games {
    border: 1px solid var(--sub-border-color);
    padding: 5px;
    margin: 5px;
    max-width: 720px;
    /*height: 820px;*/
}/* wanted to make the flex boxes the same height but did not want the
steam link to be floating above nothing
i could not figure out how to make the steam link stay at the bottom
.steamlink {
    
}
.limbus {
    wana make a gradient but couldnt figure it out
background: radial-gradient(square,rgba(0, 0, 0, 1) 0%, rgba(26, 26, 26, 1) 100%);
}*/